
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";


@layer base {
  .custinput{
    @apply block max-w-1/3 rounded-md bg-amber-600 border-2 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6;
  }
  .custlabel{
    @apply block text-sm font-medium leading-6 text-pink-700;
  }
  .custbigfont {
    @apply text-3xl text-red-800;
  }
  .custbutton {
    @apply bg-cyan-800 border-2 px-8 py-4 rounded text-center;
  }
  
}

/* conversion HEXA => tailwind approximatives (https://hextotailwind.com/)
  blue: #01325C => sky-950
  orange: #CB8B4E => amber-600
  gris clair (light text): #DEDEDE => neutral-200


.root {
  --font-family-roboto: 'Roboto', sans-serif;
  --text-rgb-222-222-222: rgba(222, 222, 222, 1);
  --text-rgb-38-50-56: rgba(38, 50, 56, 1);
  --text-white: rgba(255, 255, 255, 1);
}

/* ========================================= */

