@import "tailwindcss";

/* conversion HEXA => tailwind approximatives (https://hextotailwind.com/) */
  /* blue: #01325C => sky-950
  orange: #CB8B4E => amber-600
  gris clair (light text): #DEDEDE => neutral-200 */


:root {
  --font-family-roboto: 'Roboto', sans-serif;
  --text-rgb-222-222-222: rgba(222, 222, 222, 1);
  --text-rgb-38-50-56: rgba(38, 50, 56, 1);
  --text-white: rgba(255, 255, 255, 1);
}

.benevBox1 {
  box-shadow: 0px 2px 4px -2px rgba(0,0,0,0.5), 0px 4px 6px -1px rgba(0,0,0,0.5);
  background-color: rgba(1, 50, 92, 1);
  border: 1px solid rgba(203, 139, 78, 1);
  border-radius: 8px;
}

.benevText10 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-roboto);
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-rgb-222-222-222);
}

.benevText15 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-roboto);
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-38-50-56);
}

.benevInput18{
  flex-grow: 0;
  flex-shrink: 1;
  width: 60.24096385542169%;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(1, 50, 92, 1);
  border-radius: 8px;
}
