/* @import "tailwindcss"; */

/* @import "tailwindcss/preflight" */
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";


@layer base {
  .custinput{
    @apply block max-w-1/3 rounded-md bg-amber-600 border-2 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6;
  }
  .custlabel{
    @apply block text-sm font-medium leading-6 text-pink-700;
  }
  .custbigfont {
    @apply text-3xl text-red-800;
  }
}

/* conversion HEXA => tailwind approximatives (https://hextotailwind.com/) */
  /* blue: #01325C => sky-950
  orange: #CB8B4E => amber-600
  gris clair (light text): #DEDEDE => neutral-200 */

/*
.root2 {
  --font-family-roboto: 'Roboto', sans-serif;
  --text-rgb-222-222-222: rgba(222, 222, 222, 1);
  --text-rgb-38-50-56: rgba(38, 50, 56, 1);
  --text-white: rgba(255, 255, 255, 1);
}

.benevBox1 {
  box-shadow: 0px 2px 4px -2px rgba(0,0,0,0.5), 0px 4px 6px -1px rgba(0,0,0,0.5);
  background-color: rgba(1, 50, 92, 1);
  border: 1px solid rgba(203, 139, 78, 1);
  border-radius: 8px;
}

.benevText10 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-roboto);
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-rgb-222-222-222);
}

.benevText15 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-roboto);
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-38-50-56);
}

.benevInput18{
  flex-grow: 0;
  flex-shrink: 1;
  width: 60.24096385542169%;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(1, 50, 92, 1);
  border-radius: 8px;
}
 */

/* ========================================= */
/* conversion tailwind -> css pour des champs input standards de l'appli  */
/*
  .custom-input {
  display: block;
  width: 100%;
  border-radius: 0.375rem; 
  border-width: 0;
  padding-top: 0.375rem; 
  padding-bottom: 0.375rem; 
  color: rgb(17, 24, 39);
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05); 
}


.custom-input {
  box-shadow: inset 0 0 0 1px rgb(209 213 219),
              0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.custom-input::placeholder {
  color: rgb(156, 163, 175);
}


.custom-input:focus {
  --tw-ring-color: rgb(79, 70, 229); 
  box-shadow: inset 0 0 0 2px var(--tw-ring-color),
              0 1px 2px 0 rgb(0 0 0 / 0.05);
}


@media (min-width: 640px) {
  .custom-input {
    font-size: 0.875rem;   
    line-height: 1.5rem;  
  }
}

*/

/* ========================================= */

