@import "tailwindcss";

:root {
  --font-family-roboto: 'Roboto', sans-serif;
  --text-rgb-222-222-222: rgba(222, 222, 222, 1);
  --text-rgb-38-50-56: rgba(38, 50, 56, 1);
  --text-white: rgba(255, 255, 255, 1);
}

.text-rgb-222-222-222 {
  color: var(--text-rgb-222-222-222);
}

.text-rgb-38-50-56 {
  color: var(--text-rgb-38-50-56);
}

.text-white {
  color: var(--text-white);
}


/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.frame-7-5 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.iphone-15-pro-4 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 1);
}

.background_notifview-6 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 0.9);
}

.text-8 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-roboto);
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-rgb-222-222-222);
}

.modify-image-7 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 10px 18px 10px 18px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 60%;
  box-shadow: 0px 2px 4px -2px rgba(0,0,0,0.5), 0px 4px 6px -1px rgba(0,0,0,0.5);
  background-color: rgba(1, 50, 92, 1);
  border: 1px solid rgba(203, 139, 78, 1);
  border-radius: 8px;
}

.text-10 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-roboto);
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-rgb-222-222-222);
}

.updatebutton-9 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 10px 18px 10px 18px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 28.26666666666667%;
  box-shadow: 0px 2px 4px -2px rgba(0,0,0,0.5), 0px 4px 6px -1px rgba(0,0,0,0.5);
  background-color: rgba(1, 50, 92, 1);
  border: 1px solid rgba(203, 139, 78, 1);
  border-radius: 8px;
}

.content-14 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 0px 12px 0px 12px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 167.5%;
}

.input-13 {
  flex-grow: 0;
  flex-shrink: 1;
  width: 60.24096385542169%;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(1, 50, 92, 1);
  border-radius: 8px;
}

.text-15 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-roboto);
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-38-50-56);
}

.input-form-12 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 105.73248407643312%;
}

.birthday-11 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 5px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(222, 222, 222, 0);
}

.content-19 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 0px 12px 0px 12px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 167.5%;
}

.input-18 {
  flex-grow: 0;
  flex-shrink: 1;
  width: 60.24096385542169%;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(1, 50, 92, 1);
  border-radius: 8px;
}

.text-20 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-roboto);
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-38-50-56);
}

.input-form-17 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 105.73248407643312%;
}

.firstname-16 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 5px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(222, 222, 222, 0);
}

.content-24 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 0px 12px 0px 12px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 167.5%;
}

.input-23 {
  flex-grow: 0;
  flex-shrink: 1;
  width: 60.24096385542169%;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(1, 50, 92, 1);
  border-radius: 8px;
}

.text-25 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-roboto);
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-38-50-56);
}

.input-form-22 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 105.73248407643312%;
}

.lastname-21 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 5px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(222, 222, 222, 0);
}

.button-outline-28 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px 14px 8px 14px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(38, 50, 56, 1);
  border-radius: 8px;
}

.vector-30 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(33, 33, 33, 1);
  border: none;
  outline: none;
}

.home-29 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.homepage-button-27 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.button-outline-32 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px 14px 8px 14px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(38, 50, 56, 1);
  border-radius: 8px;
}

.vector-34 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(45, 45, 45, 1);
  border: none;
  outline: none;
}

.menu-33 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.burger-menu-31 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.button-outline-users-36 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px 14px 8px 14px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 8px;
}

.vector-38 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 2px solid rgba(203, 139, 78, 1);
  border: none;
  outline: none;
}

.users-37 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(1, 50, 92, 1);
  border: 1px solid rgba(203, 139, 78, 0);
}

.group-user-button-35 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  box-shadow: inset 0px 4px 4px 0px rgba(0,0,0,0.5);
}

.button-outline-40 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px 14px 8px 14px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(38, 50, 56, 1);
  border-radius: 8px;
}

.vector-42 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 2px solid rgba(33, 33, 33, 1);
  border: none;
  outline: none;
}

.mail-41 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.mail-button-39 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.ellipse-1-44 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid rgba(222, 222, 222, 1);
  fill: rgba(226, 51, 51, 1);
  border: none;
  outline: none;
}

.text-45 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-roboto);
  font-weight: normal;
  font-size: 8px;
  line-height: 20px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.number_5_redcircle-43 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.navbar_notifview-26 {
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
  background-color: rgba(1, 50, 92, 1);
  border: 1px solid rgba(0, 0, 0, 1);
}

.content-49 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 0px 12px 0px 12px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 167.5%;
}

.input-48 {
  flex-grow: 0;
  flex-shrink: 1;
  width: 60.24096385542169%;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(1, 50, 92, 1);
  border-radius: 8px;
}

.text-50 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-roboto);
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-38-50-56);
}

.input-form-47 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 105.73248407643312%;
}

.emailprofileuser-46 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 5px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(222, 222, 222, 0);
}

.content-54 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 0px 12px 0px 12px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 167.5%;
}

.input-53 {
  flex-grow: 0;
  flex-shrink: 1;
  width: 60.24096385542169%;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(1, 50, 92, 1);
  border-radius: 8px;
}

.text-55 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-roboto);
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-38-50-56);
}

.input-form-52 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 105.73248407643312%;
}

.phonenumber-51 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 5px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(222, 222, 222, 0);
}

.text-60 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-roboto);
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-38-50-56);
}

.content-62 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 0px 12px 0px 12px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 80.08849557522124%;
}

.input-61 {
  flex-grow: 0;
  flex-shrink: 1;
  width: 225.99999999999997%;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(1, 50, 92, 1);
  border-radius: 8px;
}

.input-form-59 {
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
}

.zip-code-58 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 5px 0px 5px 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 27.85515320334262%;
  background-color: rgba(222, 222, 222, 0);
}

.text-65 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-roboto);
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-38-50-56);
}

.content-67 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 0px 12px 0px 12px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 80.08849557522124%;
}

.input-66 {
  flex-grow: 0;
  flex-shrink: 1;
  width: 225.99999999999997%;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(1, 50, 92, 1);
  border-radius: 8px;
}

.input-form-64 {
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
}

.zip-code-63 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 5px 0px 5px 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 27.85515320334262%;
  background-color: rgba(222, 222, 222, 0);
}

.text-72 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-roboto);
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-38-50-56);
}

.content-74 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 0px 12px 0px 12px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 80.08849557522124%;
}

.input-73 {
  flex-grow: 0;
  flex-shrink: 1;
  width: 225.99999999999997%;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(1, 50, 92, 1);
  border-radius: 8px;
}

.input-form-71 {
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
}

.streetname-70 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 5px 0px 5px 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
  background-color: rgba(222, 222, 222, 0);
}

.text-75 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-roboto);
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-38-50-56);
}

.content-77 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 0px 12px 0px 12px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 80.08849557522124%;
}

.input-76 {
  flex-grow: 0;
  flex-shrink: 1;
  width: 225.99999999999997%;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(1, 50, 92, 1);
  border-radius: 8px;
}

.input-form-69 {
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
}

.streetnum-68 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 5px 0px 5px 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 27.85515320334262%;
  background-color: rgba(222, 222, 222, 0);
}

._card-blog-post-57 {
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
  box-shadow: 0px 2px 4px -2px rgba(0,0,0,0.5), 0px 4px 6px -1px rgba(0,0,0,0.5);
  border: 3px solid rgba(203, 139, 78, 1);
  border-radius: 20px;
}

.addressblock-56 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.x-79 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.facebook-80 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(222, 222, 222, 1);
  border: none;
  outline: none;
}

.vector-82 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(222, 222, 222, 1);
  border: none;
  outline: none;
}

.vector-83 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(222, 222, 222, 1);
  border: none;
  outline: none;
}

.vector-84 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(222, 222, 222, 1);
  border: none;
  outline: none;
}

.instagram-81 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rgpd-85 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 2px solid rgba(222, 222, 222, 1);
  border: none;
  outline: none;
}

.legal-notice-86 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 2px solid rgba(222, 222, 222, 1);
  border: none;
  outline: none;
}

.about-us-87 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 2px solid rgba(222, 222, 222, 1);
  border: none;
  outline: none;
}

.footer_notifview-78 {
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
  background-color: rgba(1, 50, 92, 1);
}

.shape-89 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border-radius: 41px;
  width: 100%;
  height: auto;
}

.avatar-88 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border-radius: 9999px;
}

.group-user-profile-3 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.lastname-90 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 5px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(222, 222, 222, 0);
}

.node-2 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.frame_userprofile-1 {
@media (max-width: 1440px) {
  .frame_userprofile-1 {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 768px) {
  .frame_userprofile-1 {
    padding-left: 16px;
    padding-right: 16px;
  }
}
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}
