@import "tailwindcss";

#root {
  padding: 2rem;
  --blueButton: #01325C;
  --outlineBorder: #CB8B4E;
  --lightText: #DEDEDE;
}

.card {
  padding: 2em;
}

.custom-button {
  background-color: var(--blueButton);
  border: 1px solid var(--outlineBorder);
  color: var(--lightText);
  padding: 12px 24px;
  border-radius: 8px;
  text-align: center;
}
