@import "tailwindcss";

#root {
  /* display: flex;
  justify-content: center;
  align-content: center;
  align-items: center; */
  padding: 2rem;
  --blueButton: #01325C;
  --outlineBorder: #CB8B4E;
  --lightText: #DEDEDE;
}

.card {
  padding: 2em; 
}

.custom-button {
  background-color: var(--blueButton);
  border: 1px solid var(--outlineBorder);
  color: var(--lightText);
  padding: 12px 24px;
  border-radius: 8px;
  text-align: center;
}
.custom-button:hover{
  background-color: #01528c;
}

.paddingButton2 {
  padding: 0.4em 1em;
  margin-top: 0.4em; 
  /* margin-bottom: 3px; */
  width: 100%;
}

input {
  padding-left: 5px;
}

/*
theme: {
  colors: {
    'chocolate': '#D2691E'
  },
  extend : {}
},
*/