@import "./assets/css/common.css";
@import "tailwindcss";


#root {
  --blueColor: #01325C;
  --outlineBorder: #CB8B4E;
  --lightText: #DEDEDE;
} 

body {
  padding-bottom: 64px;
}

.card {
  padding: 2em;
}

.custom-border {
  border: 1px solid var(--outlineBorder);
}

.custom-back-color {
   background-color: var(--blueColor);
}

.custom-button {
  background-color: var(--blueColor);
  border: 1px solid var(--outlineBorder);
  color: var(--lightText);
  padding: 12px 24px;
  border-radius: 8px;
  text-align: center;
}
.custom-button:hover{
  background-color: #01528c;
}

.custom-small-button {
  background-color: var(--blueColor);
  border: 1px solid var(--outlineBorder);
  color: var(--lightText);
  padding: 8px 16px;
  border-radius: 8px;
  text-align: center;
}
.custom--small-button:hover{
  background-color: #01528c;
}

.paddingButton2 {
  padding: 0.4em 1em;
  margin-top: 0.4em;
  /* margin-bottom: 3px; */
  width: 100%;
}

input {
  padding-left: 5px;
}

h1 {
  font-size: 2em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0.5em 0 0.5em 0;
}

h2 {
  font-size: 1.2em;
  margin: 0.5em 0 0.5em 0;
}

.custom-navbar {
  background-color: var(--blueColor);

}

.custom-footer {
  background-color: var(--blueColor);
}
